
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  
  header {
    background-color: #4c2f27;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 40px;
    margin: 0;
  }
  
  nav {
    background-color: #d9c3a9;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #4c2f27;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
 .hero h1{
  background-color: rgb(247, 206, 145);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 

  
 
  footer {
    background-color: #4c2f27;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    margin:30px;
  }
  
  
 